- set_meta_tags :description => 'Articulos de conocimiento sobre software publicados por el equipo de IcaliaLabs en Monterrey'
- set_meta_tags :title => 'Recursos de conocimiento de software'
%section.news.container
  %h2
    Bienvenido  a la Wiki de
    %b Icalia Labs
    aquí  encontraras articulos de conocimiento.
  %h2 Escrito por el equipo de Icalia Labs
  %p.recientes Articulos Recientes
  .sep
  - @articles.each do |article|
    = link_to article do
      %span.underline
        =article.title
      %b
        =article.user.username
      en
      %b
        =article.category.name
