%section.news.container
  %h2
    Bienvenido  a la Wiki de
    %b Icalia Labs
    aquí  encontraras articulos de conocimiento.
  %h2 Escrito por el equipo de Icalia Labs
  %p.recientes Articulos Recientes
  .sep
  - @articles.each do |article|
    = link_to article do
      %span.underline
        =article.title
      %b
        =article.user.username
      en
      %b
        =article.category.name
