%section.news.container
  %h2
    Bienvenido  a li Wiki de
    %b Icalia Labs
    aquí  encontraras articulos de conocimiento.
  %h2 Escrito por el equipo de Icalia Labs
  %p.recientes Articulos Recientes
  .sep
  %a.link{:href => "#"}
    %span.underline Problema en deploy con heroku
    %b Kurenn
    en
    %b Heroku
  %a.link{:href => "#"}
    %span.underline Problema en deploy con heroku
    %b Kurenn
    en
    %b Heroku
  %a.link{:href => "#"}
    %span.underline Problema en deploy con heroku
    %b Kurenn
    en
    %b Heroku
  .columns
    .column
      %h3 Articulos mas votados
      .sep
      %a.underline{:href => ""} Problema con deploy en heroku 
      %a.underline{:href => ""} Problema con deploy en heroku 
      %a.underline{:href => ""} Problema con deploy en heroku 
    .column
      %h3 Articulos mas votados
      .sep
      %a.underline{:href => ""} Problema con deploy en heroku 
      %a.underline{:href => ""} Problema con deploy en heroku 
      %a.underline{:href => ""} Problema con deploy en heroku 
