%section.links
  -if params[:category_id].present?
    =Category.find(params[:category_id]).name
  .unit#js-articles
    =render @articles
  =will_paginate @articles, page_links: false, previous_label: "", next_label: "Mostrar más", id:"js-articles-pagination"
