- set_meta_tags :description => 'Articulos de conocimiento sobre software publicados por el equipo de IcaliaLabs en Monterrey'
- set_meta_tags :title => 'Lista de articulos'
%section.links
  -if params[:category_id].present?
    %h2.tag-category=Category.find(params[:category_id]).name
  -elsif params[:tag].present?
    %h2.tag-tag=params[:tag]

  .unit#js-articles
    =render @articles
  =will_paginate @articles, page_links: false, previous_label: "", next_label: "Mostrar más", id:"js-articles-pagination"
