- set_meta_tags :description => 'Creación de articulos de conocimiento sobre software publicados por el equipo de IcaliaLabs en Monterrey'
- set_meta_tags :title => 'Escribe un articulo'
.write.unit
	.write-container
		.article-container
			= render 'form'
	.prev-container
		
