// Containers
//--------------------------------------------

.center {
  margin: 0 auto;
}

.columns {
  display: block;
}

.container {
	width: 90%;
}

.column {
  margin: 0px 5px;
  display: inline-block;
  vertical-align: top;

}

