// Reset
//--------------------------------------------
* {
  margin: 0px;
  padding: 0px;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

input[type="submit: "]  {
	&:hover {
		cursor: pointer;
	}
}

input, textarea {
	&:focus {
    	border:  none;
    	outline: none;
	}
}

