// Typography, Paragraphs.
//--------------------------------------------

* {
  font-size: 1em;

}

h1 {
  font-size: 2em;

}

h2 {
  font-size: 1.5em;

}

p {
  font-size: 1em;
  line-height: 1.5em;

}

code {
  background: $codeColor;
  color: #fff;
  padding: 20px;
  display: block;
  border-radius: 5px;
}

.underline {
  text-decoration: underline;

}


