// Colors Settings
//--------------------------------------------

//Body
$text-color: #1c1c1c;
$content-bg: #ffffff;
$dark-bg: #252525;
$action-bg: #e34a3a;
$subtitle-bg: #ebebeb;
$tagsbg: #c7ccd4;

// Alerts
//--------------------------------------------
$alertColor: #eee0b7;

// Code
//--------------------------------------------
$codeColor: #080a11;
$consoleColor: #323642;
